# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# MkDocs build
site/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env/

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# GitHub workflow artifacts
*.coverage

# Misc
*.bak
*.swp
